/* VARIABLES */

:root {
  --main-bg-colorfff: #fff;
  --main-bg-color000: #000;
  --main-bg-color014E56: #014E56;
  --main-bg-colorf67e7e: #f67e7e;
  --main-bg-color79C8C7: #79C8C7;
  --main-bg-color2C6269: #2C6269;
  --main-bg-color012F34: #012F34;
  --main-bg-color002529: #002529;
  --main-font-size: 15px;
  --main-font-weight: 600;
  /* --main-line-height : 1.5; */
}

/* GENERAL */

*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  height: 100%;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;
  /* font-size: 16px; */
  font-weight: 500;
  /* line-height: var(--main-line-height); */
}

/* default button styling */
.btn {
  padding: 11px 33px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background-color: none;
  border-radius: 24px;
}

/* a custom class for texts with red color */

.text-danger {
  color: var(--main-bg-colorf67e7e);
}

/* a custom class for display:flex */

.d-flex {
  display: flex;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}

/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/livvic-v13-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/livvic-v13-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*******************************
    HEADER START
********************************/

.site-header {
  padding: 83px 0;
  background-color: var(--main-bg-color014E56);
}

.site-header__wrapper {
  justify-content: space-between;
  align-items: center;
}

.site-header__inner {
  align-items: center;
  gap: 80px;
}

.navigation__list {
  gap: 40px;
}

.navigation__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-bg-colorfff);
}

.site-header .contact-link {
  color: var(--main-bg-colorfff);
  border: 2px solid var(--main-bg-colorfff);
}

.site-header .contact-link:active {
  background-color: var(--main-bg-colorfff);
  color: var(--main-bg-color000);
}

/*******************************
    SITE HERO START
********************************/

.hero {
  position: relative;
  padding-top: 53px;
  padding-bottom: 250px;
  background-color: var(--main-bg-color014E56);
}

.hero::before {
  content: "";
  position: absolute;
  left: calc(50% - 720px);
  width: 200px;
  height: 200px;
  background-image: url("../photos/top-lef-curcle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero::after {
  content: "";
  position: absolute;
  top: 80%;
  left: calc(50% + 250px);
  bottom: 0;
  width: 358px;
  height: 200px;
  background-image: url("../photos/top-curcle.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__wrapper {
  align-items: center;
  gap: 30px;
}

.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--main-bg-colorfff);
}

.hero__outer {
  position: relative;
  width: min(445px, 50%);
  padding-top: 79px;
}

.hero__outer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 4px;
  background-color: var(--main-bg-color79C8C7);
}

.hero__text {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

/*******************************
    STORIES START
********************************/

.stories {
  position: relative;
  background-color: var(--main-bg-color014E56);
  padding: 140px 0;
}

.stories::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 100px;
  height: 100px;
  background-image: url("../photos/kvd.svg");
}

.stories::after {
  content: "";
  position: absolute;
  top: 78%;
  left: calc(50% + 600px);
  bottom: 0px;
  width: 200px;
  height: 200px;
  background-image: url("../photos/bottom-curcle.svg");
  background-repeat: no-repeat;
}

.stories__title {
  margin-top: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--main-bg-colorfff);
}

.stories__list {
  display: flex;
  gap: 30px;
}

.stories__item {
  position: relative;
  padding-bottom: 94px;

}

.stories__item::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  width: 67px;
  height: 56px;
  background-image: url("../photos/“.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.stories__item::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.stories__item:nth-child(1)::after{
  background-image: url("../photos/red-girl.png");
}

.stories__item:nth-child(2)::after{
  background-image: url("../photos/white-girl.png");
}

.stories__item:nth-child(3)::after{
  background-image: url("../photos/man.png");
}


.stories__quote {
  position: relative;
  margin: 0;
  z-index: 1;
  text-align: center;
}

.stories__text {
  z-index: 2;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--main-bg-colorfff);
}

.stories__author {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-bg-color79C8C7);
  text-align: center;
}

.stories__desc {
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--main-bg-colorfff);
}